.section_4 {
    width: 1600px;
    margin: 0 auto;
    background-color: rgb(231, 244, 250);
    background-image: linear-gradient(90deg, rgba(0, 234, 185, 0.96), rgba(14, 189, 213, 0.96)), url(../img/bgc_s4.jpg);
}

.section_4 .fence {
    display: flex;
    justify-content: space-between;
    /* background-color: rgb(228, 148, 148); */
    width: 1450px;
    margin: 0 auto;
}

.section_4 .left_box {
    margin-top: 130px;
    /* background-color: green; */
    width: 520px;
    color: white;
    font-weight: 600;
}

.section_4 .left_box h3 {
    font-size: 45px;
}

.section_4 .left_box p {
    margin-top: 20px;
    font-size: 15px;
    line-height: 25px;
}

.section_4 .left_box .button {
    margin-top: 70px;
    width: 150px;
    line-height: 55px;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    background-color: #061e37;
    border-radius: 7px;
}


.section_4 .right_box {
    /* display:flex; */
    width: 650px;

}

.section_4 .right_box .buttonUp{
    background: url(../img/keyboard_arrow_up.png) no-repeat center center;
}
.section_4 .right_box .buttonDown{
    background: url(../img/keyboard_arrow_down.png) no-repeat ;
    background-position: center center;
}
.section_4 .right_box .button {
    padding-bottom: 40px;
    padding-top: 40px;
    /* background-color: red; */
}
/* .section_4 .right_box .coments_block {
} */

.section_4 .right_box .coment {
    display: flex;
    flex: 0 0 auto;
    justify-content: end;
    position: relative;
}

.section_4 .right_box .coment .avatar {
    position: absolute;
    align-self: center;
    left: -105px;
}

.section_4 .right_box .coments_block .text_block {
    width: 650px;
    box-sizing: border-box;
    padding: 30px;
    font-size: 15px;
    line-height: 25px;
    background-color: rgb(255, 255, 255);
    border-radius: 7px;
}
.section_4 .right_box .text_block .name{
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
}
.section_4 .right_box .text_block .user_text{
    margin-top: 15px;
    font-size: 15px;
    line-height: 25px;
    color: #78909c;
}
.section_4 .right_box .coment + .coment{
    margin-top: 70px;
}